.inputBar,
.contain{
 text-align: center;
}
.box,
.contain{
background-color: rgb(253, 253, 253);
border: 2px solid black;
align-items: center;
font-size: larger;
font-weight: 600;
}
.content{
    height: 800px;

}
.contain{
    width: 600px;
    margin: 0 auto;
}
.box{
    display: flex;
    width: 500px;  
    height: 300px;
    margin: 1em auto;
    align-items: center;
    text-align: center;
}
.inputBar{
    width: 320px;
}
.btn2,
.btn,
.inputBar{
    height: 50px;
    margin-bottom: 1em;
}

.btn2,
.btn{
width: 90px;
background-color: aqua;
font-weight: 800;
border-radius: 11%;
box-shadow:  10px 10px 24px rgba(85, 149, 149, 0.6);;
}
.btn2{
    background-color: rgb(225, 255, 0);  
}
.btn:hover{
    width: 120px;
    height: 60px;
    color: antiquewhite;
    background-color: rgb(0, 119, 255);
    font-weight: 800;
    border-radius: 11%;
    box-shadow:  15px 15px 24px rgba(85, 149, 149, 0.6);;
    }
.listdata,
.menu_contain,
.submenu{
    display: grid;
    }
.listdata{
    grid-template-columns: repeat(2,1fr);
    }
.submenu{
    grid-template-columns: repeat(3,1fr);
}
.menu_contain{
  display: flex;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.tables{
    width: 95%;
    gap: 1em;
    margin: 0px auto;
}
.model{
    position: absolute;
    width: 100%;
    height: 100vh; /* Full screen height */
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}
.innerModel{
    position: relative;
    margin:auto;
    border: 1px solid black;
    height: 300px;
    width: 600px;
    background-color: azure;
    color: black;

}

.text_picker{
    cursor: pointer;
}
.text_picker_font{
    font-size: medium;
    font-weight: 600;
}
.aud_list{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
}
